Scryber/Scryber.XSD/Scryber.Components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="Scryber.Components, Scryber.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    elementFormDefault="qualified"
    xmlns="Scryber.Components, Scryber.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:mstns="Scryber.Components, Scryber.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:data="Scryber.Data, Scryber.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:style="Scryber.Styles, Scryber.Styles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" >

  <!-- 
    Includes 
  -->

  <xs:include schemaLocation="Scryber.Types.xsd" />
  <xs:import namespace="Scryber.Styles, Scryber.Styles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" schemaLocation="Scryber.Styles.xsd" />
  <xs:import namespace="Scryber.Data, Scryber.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" schemaLocation="Scryber.Data.xsd" />
  
  
  
  <!-- 
    Pages List + Binding Constructs
  -->
  
  <xs:complexType name="PageListType" >
    <xs:sequence minOccurs="0" maxOccurs="unbounded" >
      <xs:choice>
        <xs:element name="Page" type="PageType" />
        <xs:element name="Page-Ref" type="PageRefType" />
        <xs:element name="Section" type="SectionType" />
        <xs:element name="Section-Ref" type="PageRefType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 
    Page Type
  -->
  
  
  <xs:complexType name="PageType" >
    <xs:sequence maxOccurs="1"  >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Header" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Footer" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <!-- <xs:group ref="PageelementConstructs" minOccurs="0" maxOccurs="unbounded" />-->
    </xs:sequence>
    <xs:attributeGroup ref="ElementAttributes" />
    <xs:attribute name="paper-size" type="BindablePageSizeEnum" use="optional" />
    <xs:attribute name="paper-orientation" type="BindablePageOrientationEnum" use="optional" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:complexType name="SectionType">
    <xs:sequence maxOccurs="1"  >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Header" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Continuation-Header" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Footer" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Continuation-Footer" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="ElementAttributes" />
    <xs:attribute name="paper-size" type="BindablePageSizeEnum" use="optional" />
    <xs:attribute name="paper-orientation" type="BindablePageOrientationEnum" use="optional" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>
  
  <!-- 
    Page-Ref type
  -->
  
  <xs:complexType name="PageRefType" >
    <xs:attribute name="source" type="xs:string" use="optional" />
    <xs:attribute name="type" type="xs:string" use="optional" />
    <xs:attribute name="id" use="optional" type="IDType" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
    <xs:attributeGroup ref="ElementEventAttributes" />
    <xs:anyAttribute namespace="##any" />
  </xs:complexType>

  <xs:element name="Page-Ref" type="PageRefType" />
  <xs:element name="Section-Ref" type="PageRefType" />

 
  
  <xs:complexType name="AnyPageContentType" mixed="true" >
    <xs:sequence minOccurs="0" maxOccurs="unbounded" >
      <xs:group ref="PageElementConstructs" minOccurs="0" maxOccurs="unbounded" ></xs:group>
      <xs:element name="PageBreak" type="PageBreakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PageBreakType" >
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>
  

  <xs:group name="PageElementConstructs" >
    <xs:sequence>
      <xs:group ref="ComponentElements" minOccurs="0" maxOccurs="unbounded" />
      <xs:group ref="InlineTextElements" minOccurs="0" maxOccurs="unbounded" />
      <xs:group ref="HeadingComponents" minOccurs="0" maxOccurs="unbounded" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>

  <xs:group name="ComponentElements" >
    <xs:choice>
      <xs:element name="Para" type="PanelType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Table" type="TableType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Panel" type="PanelType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Component-Ref" type="UserComponentRefType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Canvas" type="PanelType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="LayerGroup" type="LayerGroupType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Label" type="LabelType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Image" type="ImageType" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="Link" type="LinkType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="PageBreak" type="PageBreakType" minOccurs="0" maxOccurs="0" ></xs:element>
    </xs:choice>
  </xs:group>

  <xs:group name="HeadingComponents" >
    <xs:choice>
      <xs:element name="H1" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="H2" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="H3" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="H4" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="H5" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="H6" type="HeadType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
    </xs:choice>
  </xs:group>

  

  <xs:group name="InlineTextElements" >
    <xs:choice>
      <xs:element name="B" type="AnyPageContentType" minOccurs="0" maxOccurs="unbounded" form="unqualified" ></xs:element>
      <xs:element name="I" type="AnyPageContentType" minOccurs="0" maxOccurs="unbounded" form="unqualified" ></xs:element>
      <xs:element name="BR" type="EmptyContentType" minOccurs="0" maxOccurs="unbounded" form="unqualified"></xs:element>
    </xs:choice>
  </xs:group>

  <xs:element name="B" type="AnyPageContentType" />
  <xs:element name="I" type="AnyPageContentType" />
  <xs:element name="BR" />
  
  <!-- std elements -->

  <xs:complexType name="InlineContentType" mixed="true">
    <xs:sequence>
      <xs:group ref="InlineTextElements" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="UserComponentRefType" >
    <xs:attribute name="source" use="optional" type="xs:anyURI" />
    <xs:attribute name="type" type="xs:string" use="optional" />
    <xs:attribute name="id" use="optional" type="IDType" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
    <xs:attributeGroup ref="ElementEventAttributes" />
    <xs:attributeGroup ref="ElementSizeAttributes" />
    <xs:anyAttribute namespace="##any" />
  </xs:complexType>

  <xs:element name="Component-Ref" type="UserComponentRefType" />
  
  <xs:complexType name="PanelType" mixed="true" >
    <xs:sequence maxOccurs="1"  >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:element name="Panel" type="PanelType" />
  
  <!-- 
    Image element
  -->

  <xs:complexType name="ImageType" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attribute name="src" type="xs:string" />
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:element name="Image" type="ImageType" />

  
  <!-- 
    Label element
  -->
  
  <xs:complexType name="LabelType" mixed="true" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attribute name="text" type="xs:string" />
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:element name="Label" type="LabelType" />

  <!-- 
    Headings 
  -->

  <xs:complexType name="LinkType" mixed="false" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
    <xs:attribute name="file" type="BindableFilePathType" />
    <xs:attribute name="destination" type="BindableStringType" />
    <xs:attribute name="destination-fit" type="BindableOutlineFitEnum" />
    <xs:attribute name="new-window" type="BindableBooleanType" />
    <xs:attribute name="alt" type="BindableStringType" />
    <xs:attribute name="action" type="BindableLinkActionEnum" />
  </xs:complexType>

  <xs:element name="Link" type="LinkType" />
  
  <!-- 
    Headings 
  -->

  <xs:complexType name="HeadType" mixed="true" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>
  
  <!-- 
    Table element (plus sub types)
  -->
  <xs:complexType name="TableType" >
    <xs:sequence >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:choice minOccurs="0" maxOccurs="unbounded" >
        <xs:element name="Row" type="TableRowType" ></xs:element>
        <xs:group ref="data:BindingConstructs" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:element name="Table" type="TableType" />

  <xs:complexType name="TableRowType" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Cell" type="TableCellType" ></xs:element>
        <xs:group ref="data:BindingConstructs" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:complexType name="TableCellType" >
    <xs:sequence maxOccurs="1"  >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="ElementAttributes" />
    <xs:attributeGroup ref="ElementSizeAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
    <xs:attribute name="col-span" type="xs:int" use="optional" />
    <xs:attribute name="row-span" type="xs:int" use="optional" />
  </xs:complexType>

  
  <!-- 
    Layer Group Type
  -->
  
  <xs:complexType name="LayerGroupType" >
    <xs:sequence>
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Layer" type="LayerType" ></xs:element>
        <xs:group ref="data:BindingConstructs" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PageElementAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>

  <xs:complexType name="LayerType" >
    <xs:sequence maxOccurs="1"  >
      <xs:element name="Style" type="style:StyleItemType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Outline" type="OutlineDefinitionType" minOccurs="0" maxOccurs="1" form="unqualified" />
      <xs:element name="Content" type="AnyPageContentType" minOccurs="0" maxOccurs="1" form="unqualified" />
    </xs:sequence>
    <xs:attributeGroup ref="ElementAttributes" />
    <xs:attributeGroup ref="ElementSizeAttributes" />
    <xs:attributeGroup ref="style:InlineElementStyleAttributes" />
  </xs:complexType>


  <xs:complexType name="OutlineDefinitionType" >
    <xs:attribute name="title" type="BindableStringType" use="required" ></xs:attribute>
    <xs:attribute name="color" type="BindableColorEnum" use="optional" />
    <xs:attribute name="bold" type="BindableBooleanType" use="optional" />
    <xs:attribute name="italic" type="BindableBooleanType" use="optional" />
    <xs:attribute name="open" type="BindableBooleanType" use="optional" />
    <xs:attribute name="fit" type="BindablePageFitEnum" use="optional" />
  </xs:complexType>
</xs:schema>
